# Node.js
node_modules/
.env
*.env
.env.*
*.local
npm-debug.log*
#tests as they contain sensitive data
tests/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Google Workspace Scanner credentials and sensitive files
*.json
!package.json

# Output
*.csv
*.xlsx

# Misc
*.log
*.jsonl

# Ignore output Google Sheets exports
*.gsheet
